@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url('https://i.gifer.com/fyDi.gif');
  background-repeat: no-repeat;
  background-size: cover;
}



.swal-button-green {
  background-color: #157A6E !important;
  color: white !important;
}

.swal-button-red {
  background-color: rgb(83, 74, 74) !important;
  color: white !important;
}

.swal-button-red:hover {
  background-color: rgb(54, 49, 49) !important;
  color: white !important;
}


h1 {
  opacity: 100%;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

.clima-input {
  width: 550px;
}

.clima-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.clima-input input:focus {
  padding: 0 16px;
  border: 2px solid #157A6E;
}

.clima-input .separador {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clima-input .separador::before {
  content: "Ou";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #1e6292;
  opacity: 0%;
}

.clima-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #157A6E;
  transition: 0.2s ease;
}

.clima-input .search-btn:hover {
  background: #096358;
}

.clima-input .share-btn {
  background: #5c636a;
}

.clima-input .share-btn:hover {
  background: #31353a;
}

.clima-input .location-btn {
  background: #6C757D;
}


.clima-input .location-btn:hover {
  background: #31353a;
}

.clima-dados {
  width: 100%;
}

.clima-dados .clima-atual {
  color: #fff;
  opacity: 70%;
  background: #096358;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.clima-atual h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.clima-dados h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.clima-atual .icon {
  text-align: center;
}

.clima-atual .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.clima-atual .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}

.clima-dias h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  color: white;
}

.clima-dias .clima-cards {
  display: flex;
  gap: 20px;
}

.clima-cards .card {
  opacity: 70%;
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #6C757D;
  text-transform: capitalize;
  border-radius: 5px;
}

.clima-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.clima-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

/* Tratar responsividade */

@media (max-width: 1400px) {
  .clima-dados .clima-atual {
    padding: 20px;
  }

  .clima-cards {
    flex-wrap: wrap;
  }

  .clima-cards .card {
    width: calc(100% / 4 - 15px);
  }
}

@media (max-width: 1200px) {
  .clima-cards .card {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 950px) {
  .clima-input {
    width: 450px;
  }

  .clima-cards .card {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }

  .container {
    flex-wrap: wrap;
    padding: 15px;
  }

  .clima-input {
    width: 100%;
  }

  .clima-dados h2 {
    font-size: 1.35rem;
  }
}

.navbar {
  background-color: #333;
  top: 0;
  width: 100%;
}

.navbar-right {
  float: right;
}

.dropdown {
  float: right;
  position: relative;
  margin-right: 20px;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
  padding: 14px 16px;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  margin-top: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 30%;
}